<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Con la alta gama de productos RH Cosmética pretende llevar la belleza al alcance de todos.">
    <meta name="keywords" content="COSMÉTICA, BELLEZA, CREMAS, PERFUMES, IYOSEI, SHAMPOO">
    <meta name="google-site-verification" content="nMqJ72wpEAogad4DbjyRZsIBqIQSFamxtSh4iPhPWlI" />
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>Service | RH Cosmética - Descubre nuestros productos</title>
</head>

<body>
    <!-- Inicio header y nav-->
    <header>
        <picture class="logo">
            <a href="../../index.html"><img src="../img/Titulon.svg" alt="El logo de la marca RH Cosmética"></a>
        </picture>
        <!-- inicio NAV -->
        <nav class="navbar container">
            <picture class="navlogo">
                <a href="../../index.html"><img src="../img/favicon.ico" alt="El logo de la marca RH Cosmética"></a>
            </picture>
            <input type="checkbox" id="toggler">
            <label for="toggler"><i class="ri-menu-line"></i></label>
            <div class="menu">
                <ul class="list s-text">
                    <li class="nav-item menu__item">
                        <a class="nav-link" aria-current="page" href="../views/about.html">About</a>
                    </li>
                    <li class="nav-item menu__item">
                        <a class="nav-link" href="../views/contact.html">Contact</a>
                    </li>
                    <li class="nav-item menu__item">
                        <a class="nav-link" href="../views/gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item dropdown menu__item">
                        <a class="nav-link dropdown-toggle" href="../views/service.html" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Service
                        </a>
                        <ul class="dropdown-menu sub-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="sub-menu__link dropdown-item" href="#">Cremas</a></li>
                            <li><a class="sub-menu__link dropdown-item" href="#">Perfumes</a></li>
                            <li><a class="sub-menu__link dropdown-item" href="#">Para el Cabello</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Fin header y nav-->
    <main>
        <section class="container">
            <!--Listado y precio de productos-->
            <h1 class="s-title principal__description animate__animated animate__fadeInDown">Productos</h1>
            <article>
                <div class="list-group lista">
                    <a href="#" class="list-group-item list-group-item-action s-text">Todos los productos</a>

                    <a href="#"
                        class="list-group-item list-group-item-action list-group-item-primary s-caption">Cremas</a>
                    <a href="#"
                        class="list-group-item list-group-item-action list-group-item-secondary s-caption">Desodorantes</a>
                    <a href="#"
                        class="list-group-item list-group-item-action list-group-item-success s-caption">Fragancias
                        Masculinas</a>
                    <a href="#"
                        class="list-group-item list-group-item-action list-group-item-danger s-caption">Fragancias
                        Femeninas</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning s-caption">Ceras
                        para
                        barbas</a>
                    <a href="#"
                        class="list-group-item list-group-item-action list-group-item-info s-caption">Jabones</a>
                    <a href="#"
                        class="list-group-item list-group-item-action list-group-item-light s-caption">Shampoo</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark s-caption">Aceite de
                        Argán</a>
                </div>
            </article>
        </section>
    </main>
    <!--Inicio footer-->
    <footer class="foot flex-row">
        <img class="foot__logoinf" src="../../assets/img/loguito.png" alt="Imagen del texto">
        <h3>
            <a href="https://m.facebook.com/azarielazul?ref=bookmarks" target="_blank"><img class="redes"
                    src="../../assets/img/facebook.ico" alt=""></a>
            <a href="https://mobile.twitter.com/azarielazul" target="_blank"><img class="redes"
                    src="../../assets/img/twitter.ico" alt=""></a>
            <a href="https://www.linkedin.com/in/aquiles-acosta-aa6086195" target="_blank"><img class="redes"
                    src="../../assets/img/linkedin.ico" alt=""></a>
            <a href="https://www.instagram.com/rh.cosmetica/" target="_blank"><img class="redes"
                    src="../../assets/img/instagram.ico" alt=""></a>
            </div>
            <button class="redes principal__button botono"><a href="./contact.html">CONTACT</a>
            </button>
            <span>Hecho con ♓</span></h3>
    </footer>
    <!--Fin Footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>