header {
    width: 100%;
    padding: 0.5em;
 .navbar {
    min-height: 1vh;
    max-width: 51.46em;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ebebeb;
    width: 90%;
    padding: 0 2rem;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
}

}