.about__section{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {

    .principal {
        max-width: 78.38em;
    }

}