 .about__section {
     padding-top: 2vh;
     display: flex;
     flex-direction: column;
     align-items: center;
 }


 .citatitulo {
     font-family: $font-secondary;
 }

 .cita {
     font-family: $font-prima;
 }

 .card {
     margin-bottom: 18%;
 }

 /*MEDIA QUERIES*/

 @media screen and (max-width: 768px) {

     .principal {
         max-width: 78.38em;
     }

 }