.principal {
    flex-wrap: wrap;
}

.principal__picture {
    flex-flow: 1;
}

.principal__description {
    flex-grow: 1;
    order: -1;
    align-items: center;
}

.menu {
    font-size: .8em;
}

.principal {
    background-color: #52004f1c;
    padding: 0 3rem;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0.79vh;
    border-radius: 10px;
    margin-bottom: 0.5vh;
    padding-top: 1vh;
    width: 201vh;

}

.principal__picture {
    flex-basis: 50%;
    min-width: 320px;
}

.principal__img {
    width: 100%;
    border-radius: 10px
}

.principal__description {
    flex-basis: 50%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: "Redressed", cursive;
    gap: 2rem;
}

.principal__container p {
    line-height: 1.5;
    font-size: 3.2em;
}

.principal__container h1 {
    font-size: 6.8em;
    color: var(--principal);
}