.principal {
    flex-wrap: wrap;
    background-color: #52004f1c;
    padding: 0 3rem;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0.79vh;
    border-radius: 10px;
    margin-bottom: 0.5vh;
    padding-top: 1vh;
    width: 201vh;
    
    &__picture {
        flex-flow: 1;
        flex-basis: 50%;
        min-width: 320px;
    }

    &__description {
        flex-grow: 1;
        order: -1;
        align-items: center;
        flex-basis: 50%;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        font-family: "Redressed", cursive;
        gap: 2rem;
    }

    &__img {
        width: 100%;
        border-radius: 10px
    }

    &__container p {
        line-height: 1.5;
        font-size: 3.2em;
    }

    &container h1 {
        font-size: 6.8em;
        color: $principal;
    }
}

.menu {
    font-size: .8em;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .principal {
        max-width: 78.38em;
    }

}