.principal {
    flex-wrap: wrap;
    background-color: #52004f1c;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0.79vh;
    border-radius: 10px;
    margin-bottom: 0.5vh;
    width: 201vh;

    &__picture {
        flex-flow: 1;
        flex-basis: 50%;
        min-width: 320px;
    }

    &__description {
        flex-grow: 1;
        order: -1;
        align-items: center;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        font-family: $font-secondary;
        gap: 2rem;
        color: #7D60A6;
    }

    &__description p {
        font-family: $font-prima;
        color: black;
    }

    &__img {
        width: 100%;
        border-radius: 10px
    }

    &__container p {
        line-height: 1.5;
    }


}

.menu {
    font-size: .8em;
}

.carousel-item {
    max-height: 542px;
}

section {
    padding-top: 2vh;
}

article {
    p {
        padding: map-get($paddings, medium);
    }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .carousel-item {
        max-height: 381px;
    }

    .principal {
        max-width: 78.38em;
    }

}