/*Imports*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Redressed&display=swap");

/*Variables*/

:root {
    --principal: #ffeddf;
    --secondary: #52004f;
    --font-primary: "Arial", sans-serif;
    --font-secondary: "Helvetica", sans-serif;
    --text-lg: 2em;
    --text-md: 1.8em;
}

/* Normalize es el reseteo de CSS que le quita los valores por defecto del navegador*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Globals*/

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: black;
    background-image: linear-gradient(to right top, #ffeddf, #f8cfb4, #f0b08c, #e79069, #de6e4b);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
}

/*Helpers*/

.flex-row {
    display: flex;
    align-content: center;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1.4em;
    margin: 0 auto;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    flex-basis: 30%;

}

header .navbar {
    min-height: 1vh;
    max-width: 51.46em;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ebebeb;
    width: 90%;
    padding: 0 2rem;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
}

header {
    padding: 0.5em;
}

.menu .menu__item {
    border: 2px solid #ebebeb;
    transition: all .3s ease-in-out;
}

.menu .menu__item:hover {
    border-color: var(--secondary);
    border-radius: 10px;
}

.menu .menu__item .menu__link {
    font-size: var(--text-md);
    padding: 1rem;
}

.navbar .menu .menu__item:hover .sub-menu {
    display: block;
}

.navbar .menu__item .sub-menu {
    display: none;
    position: absolute;
}

.navbar .menu .menu__item:hover .sub-menu {
    display: block;
}

.menu__item .sub-menu .sub-menu__link {
    padding: 1rem;
    font-size: 1.4em;
    transition: all .3s ease-in-out;
    background-color: #ebebeb;
    border-style: ridge;
    border-color: #52004f1c;
    border-radius: 10px;
}

.menu__item .sub-menu .sub-menu__link:hover {
    background-color: var(--secondary);
    color: var(--principal);
    border-radius: 10px;
}

.navbar ul {
    list-style: none;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    text-decoration: none;
    padding: 15px 10 px;
    color: var(--secondary);
}

.sub-menu {
    display: none;
    position: absolute;
}

.sub-menu .sub-menu__item .sub-menu__link {
    padding: 1rem;
    font-size: 1.4em;
    transition: all .3s ease-in-out;
}

.sub-menu .sub-menu__item .sub-menu__link:hover {
    background-color: var(--secondary);
    color: var(--principal);
}

.menu li:hover .sub_menu {
    display: block;
}

.sub-menu li a {
    display: block;
    padding: 5px;
}

.navbar__logo {
    flex-basis: 30%;
    display: none;
}

.header_responsive {
    display: none;
}

/*MAIN SECTION */



.principal {
    flex-wrap: wrap;
}

.principal__picture {
    flex-flow: 1;
}

.principal__description {
    flex-grow: 1;
    order: -1;
    align-items: center;
}

.menu {
    font-size: .8em;
}

.principal {
    background-color: #52004f1c;
    padding: 0 3rem;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0.79vh;
    border-radius: 10px;
    margin-bottom: 0.5vh;
    padding-top: 1vh;
    width: 201vh;

}

.principal__picture {
    flex-basis: 50%;
    min-width: 320px;
}

.principal__img {
    width: 100%;
    border-radius: 10px
}

.principal__description {
    flex-basis: 50%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: "Redressed", cursive;
    gap: 2rem;
}

.principal__container p {
    line-height: 1.5;
    font-size: 3.2em;
}

.principal__container h1 {
    font-size: 6.8em;
    color: var(--secondary)
}

.galeria_productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "rh perfumes perfumes cremas"
        "rh femeni masculi cremas"
        "rh cabello cabello cabello";
    gap: 0.5rem;
    justify-content: center;
    align-items: stretch;
}

.rh {
    grid-area: rh;
}

.perfumes {
    grid-area: perfumes;
}

.cremas {
    grid-area: cremas;
}

.femeni {
    grid-area: femeni;
}

.masculi {
    grid-area: masculi;
}

.cabello {
    grid-area: cabello;
}

.galeria_productos_responsive {
    display: none;
}

/* BOTÓN */

.btn {
    color: #ebebeb;
    padding: 10px;
    max-width: 100px;
    background-color: #7d60a6;
    width: auto;
    height: auto;
    font-family: "Redressed", cursive;
    visibility: visible;
    box-sizing: border-box;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 5px;
    font-size: large;
    text-align: center;
    border-style: ridge;
    border-color: #52004f1c;
    border-radius: 15px;
}

.principal__button {
    justify-self: center;
    margin: 10px;
}

.principal__button a {
    text-decoration: none;
    color: #ebebeb;
}

input {
    border-radius: 7px;
    border-color: #52004f1c;
}

/*FOOTER*/

.foot {
    height: 10vh;
    background-color: #ebebeb;
    justify-content: space-between;
    align-items: flex-end;

}

.redes {
    display: flexbox;
    align-items: baseline;
}

.foot h3 a {
    color: var(--secondary);
}

/*grid layoutit*/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagen_tit imagen_tit imagen_tit"
        "section_bienvenida section_description section_contacto"
        "section_bienvenida section_description section_contacto";
    padding: 10px;
    gap: 0.6rem;
}

.imagen_tit {
    grid-area: imagen_tit;
    width: 50%;
    object-fit: none;
}

.section_bienvenida {
    grid-area: section_bienvenida;
}

.section_description {
    grid-area: section_description;
}

.section_contacto {
    grid-area: section_contacto;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "imagen_tit imagen_tit imagen_tit"
            "section_bienvenida section_description section_contacto"
            "section_bienvenida section_description section_contacto";
        padding: 10px;
        gap: 0.6rem;
    }

    .imagen_tit {
        grid-area: imagen_tit;
        width: 50%;
        object-fit: none;
    }

    .section_bienvenida {
        grid-area: section_bienvenida;
    }

    .section_description {
        grid-area: section_description;
    }

    .section_contacto {
        grid-area: section_contacto;
    }

    .galeria_productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "rh perfumes perfumes cremas"
            "rh femeni masculi cremas"
            "rh cabello cabello cabello";
        gap: 0.5rem;
        justify-content: center;
        align-items: stretch;
        overflow: hidden;
    }

    .rh {
        grid-area: rh;
    }

    .perfumes {
        grid-area: perfumes;
    }

    .cremas {
        grid-area: cremas;
    }

    .femeni {
        grid-area: femeni;
    }

    .masculi {
        grid-area: masculi;
    }

    .cabello {
        grid-area: cabello;
    }

    .galeria_productos_responsive {
        display: none;
    }

    .header_responsive {
        display: none;
    }

}

/*Fin 1200px*/

@media screen and (max-width: 1024px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "imagen_tit imagen_tit imagen_tit"
            "section_bienvenida section_description section_contacto"
            "section_bienvenida section_description section_contacto";
        padding: 10px;
        gap: 0.6rem;
    }

    .imagen_tit {
        grid-area: imagen_tit;
        width: 50%;
        object-fit: none;
    }

    .section_bienvenida {
        grid-area: section_bienvenida;
    }

    .section_description {
        grid-area: section_description;
    }

    .section_contacto {
        grid-area: section_contacto;
    }

    .galeria_productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "rh perfumes perfumes cremas"
            "rh femeni masculi cremas"
            "rh cabello cabello cabello";
        gap: 0.5rem;
        justify-content: center;
        align-items: stretch;
        overflow: hidden;
    }

    .rh {
        grid-area: rh;
    }

    .perfumes {
        grid-area: perfumes;
    }

    .cremas {
        grid-area: cremas;
    }

    .femeni {
        grid-area: femeni;
    }

    .masculi {
        grid-area: masculi;
    }

    .cabello {
        grid-area: cabello;
    }

    .galeria_productos_responsive {
        display: none;
    }

    .header_responsive {
        display: none;
    }
}

/*Fin 1024px*/

@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "imagen_tit imagen_tit imagen_tit"
            "section_bienvenida section_description section_contacto"
            "section_bienvenida section_description section_contacto";
        padding: 10px;
        gap: 0.6rem;
    }

    .imagen_tit {
        grid-area: imagen_tit;
        width: 50%;
        object-fit: none;
    }

    .section_bienvenida {
        grid-area: section_bienvenida;
    }

    .section_description {
        grid-area: section_description;
    }

    .section_contacto {
        grid-area: section_contacto;
    }

    .galeria_productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "rh perfumes perfumes cremas"
            "rh femeni masculi cremas"
            "rh cabello cabello cabello";
        gap: 0.5rem;
        justify-content: center;
        align-items: stretch;
        overflow: hidden;
    }

    .rh {
        grid-area: rh;
    }

    .perfumes {
        grid-area: perfumes;
    }

    .cremas {
        grid-area: cremas;
    }

    .femeni {
        grid-area: femeni;
    }

    .masculi {
        grid-area: masculi;
    }

    .cabello {
        grid-area: cabello;
    }

    .header_responsive {
        display: none;
    }

    .galeria_productos_responsive {
        display: none;
    }

    .principal {
        max-width: 78.38em;
    }
}

/*Fin 768px*/

@media screen and (max-width: 600px) {

    .galeria_productos {
        display: none;
    }

    .galeria_productos_responsive {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "rh perfumes"
            "femeni masculi"
            "cremas cabello";
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .rh {
        grid-area: rh;
    }

    .perfumes {
        grid-area: perfumes;
    }

    .cremas {
        grid-area: cremas;
    }

    .femeni {
        grid-area: femeni;
    }

    .masculi {
        grid-area: masculi;
    }

    .cabello {
        grid-area: cabello;
    }

    .logo {
        display: none;
    }

    .navbar {
        display: none;
    }

    .header_responsive {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

    }

    ul {
        display: none;
    }

    input:checked~ul {
        display: block;
    }

    input {
        display: none;
    }

    label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }

    label:hover {
        background: grey;
    }

    input:checked~label {
        background: lightgrey;
    }

    ul {
        margin-top: 0;
        padding: 0;
        width: 200px;

    }

    li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }

    li:hover {
        filter: brightness(110%);
    }

    .principal {
        max-width: 55.379999999999995em;
        margin-top: 20.79vh;
    }

    .flex-row {
        flex-direction: column-reverse;
    }

    section:first-of-type {
        padding-top: 0vh;
    }

}


@media screen and (max-width: 320px) {
    .galeria_productos {
        display: none;
    }

    ul {
        display: none;
    }

    input:checked~ul {
        display: block;
    }

    input {
        display: none;
    }

    label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }

    label:hover {
        background: grey;
    }

    input:checked~label {
        background: lightgrey;
    }

    ul {
        margin-top: 0;
        padding: 0;
        width: 200px;

    }

    li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }

    li:hover {
        filter: brightness(110%);
    }

    .galeria_productos_responsive {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "rh"
            "perfumes"
            "cremas"
            "femeni"
            "masculi"
            "cabello";
        gap: 0.5rem;
        justify-content: center;
        align-items: stretch;
    }

    .rh {
        grid-area: rh;
    }

    .perfumes {
        grid-area: perfumes;
    }

    .cremas {
        grid-area: cremas;
    }

    .femeni {
        grid-area: femeni;
    }

    .masculi {
        grid-area: masculi;
    }

    .cabello {
        grid-area: cabello;
    }

    .navbar {
        display: none;
    }

    .header_responsive {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    ul {
        display: none;
    }

    input:checked~ul {
        display: block;
    }

    input {
        display: none;
    }

    label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }

    label:hover {
        background: grey;
    }

    input:checked~label {
        background: lightgrey;
    }

    ul {
        margin-top: 0;
        padding: 0;
        width: 200px;

    }

    li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }

    li:hover {
        filter: brightness(110%);
    }

    .principal {
        max-width: 30.379999999999995em;
    }

    section:first-of-type {
        padding-top: 0vh;
    }

}