@charset "UTF-8";
/*Imports*/
/* MISCELANEOUS */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Redressed&display=swap");
/*Variables*/
.s-jumbo {
  font-size: 6.8em; }

.s-display {
  font-size: 3.2em; }

.s-title {
  font-size: 4.3em; }

.s-text {
  font-size: 3em; }

.s-caption {
  font-size: 2em; }

.s-mini {
  font-size: 1.5em; }

.p-xlarge {
  padding: 5rem; }

.p-large {
  padding: 3rem; }

.p-medium {
  padding: 2rem; }

.p-small {
  padding: 1.5rem; }

.p-xsmall {
  padding: 1rem; }

/*Helpers*/
.container {
  max-width: 1080px;
  margin: 0 auto; }

/* Normalize es el reseteo de CSS que le quita los valores por defecto del navegador*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globals*/
html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #fff4ff;
  font-family: "Barlow Condensed", sans-serif;
  color: black; }

a {
  text-decoration: none;
  color: #52004f;
  display: inline-block; }

ul {
  list-style-type: none; }

/* BOTÓN */
.botono, .principal__button {
  color: #ebebeb;
  padding: 10px;
  max-width: 100px;
  background-color: #7d60a6;
  font-family: "Redressed", cursive;
  visibility: visible;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 5px;
  font-size: large;
  border-style: ridge;
  border-color: #52004f1c;
  border-radius: 15px; }
  .botono:hover, .principal__button:hover {
    animation: pulsate 1s ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 15px #7d60a6, 0 0 30px #4e00c2; } }

.principal__button {
  justify-self: center;
  margin: 10px; }

.principal__button a {
  text-decoration: none;
  color: #ebebeb; }

input {
  border-radius: 7px;
  border-color: #52004f1c; }

/* PARTIALS */
.container nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 12px; }

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*Centra los hijos del contenedor flex de manera vertical.*/
  justify-content: space-between;
  background-color: #ebebeb;
  padding-block: 15px;
  border-radius: 9px;
  font-family: "Barlow Condensed", sans-serif; }

.navbar a {
  text-decoration: none;
  color: inherit; }

.navlogo {
  margin-right: 50px; }

.list {
  list-style: none;
  display: flex;
  gap: 25px; }

#toggler,
.navbar label {
  display: none;
  /*Ocultará la checkbox en pantallas más grandes.*/ }

.logo {
  display: flex;
  justify-content: center;
  flex-basis: 30%;
  padding-bottom: 2%; }

.menu .menu__item {
  border: 2px solid #ebebeb;
  transition: all .3s ease-in-out; }
  .menu .menu__item:hover {
    border-color: #52004f;
    border-radius: 10px; }

.menu .menu__item .menu__link {
  font-size: 1.8em;
  padding: 1rem; }

.navbar .menu .menu__item:hover .sub-menu {
  display: block; }

.navbar .menu__item .sub-menu {
  display: none;
  position: absolute; }

.navbar .menu .menu__item:hover .sub-menu {
  display: block; }

.menu__item .sub-menu .sub-menu__link {
  padding: 1rem;
  font-size: 1.8em;
  transition: all .3s ease-in-out;
  background-color: #ebebeb;
  border-style: ridge;
  border-color: #52004f1c;
  border-radius: 10px; }

.menu__item .sub-menu .sub-menu__link:hover {
  background-color: #52004f;
  color: #ffeddf;
  border-radius: 10px; }

/*MEDIA QUERIES*/
@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden; }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px; }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer; }
  #toggler:checked ~ .menu {
    max-height: 100%; } }

.foot {
  height: 10vh;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem; }
  .foot h3 a {
    color: #52004f; }

/* VIEWS */
.principal {
  flex-wrap: wrap;
  background-color: #52004f1c;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 0.79vh;
  border-radius: 10px;
  margin-bottom: 0.5vh;
  width: 201vh; }
  .principal__picture {
    flex-flow: 1;
    flex-basis: 50%;
    min-width: 320px; }
  .principal__description {
    flex-grow: 1;
    order: -1;
    align-items: center;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    font-family: "Redressed", sans-serif;
    gap: 2rem;
    color: #7D60A6; }
  .principal__description p {
    font-family: "Barlow Condensed", sans-serif;
    color: black; }
  .principal__img {
    width: 100%;
    border-radius: 10px; }
  .principal__container p {
    line-height: 1.5; }

.menu {
  font-size: .8em; }

.carousel-item {
  max-height: 542px; }

section {
  padding-top: 2vh; }

article p {
  padding: 2rem; }

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  .carousel-item {
    max-height: 381px; }
  .principal {
    max-width: 78.38em; } }

.about__section {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.citatitulo {
  font-family: "Redressed", sans-serif; }

.cita {
  font-family: "Barlow Condensed", sans-serif; }

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  .principal {
    max-width: 78.38em; } }

.formulary {
  font-family: "Barlow Condensed", sans-serif; }

.insideform {
  font-size: 2rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
  resize: vertical; }

label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

.botono input[type=submit], .principal__button input[type=submit] {
  float: right; }

.botono input[type=submit]:hover, .principal__button input[type=submit]:hover {
  background-color: #ffeddf; }

.container form {
  border-radius: 5px;
  background-color: #ffeddf;
  padding: 20px; }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px; }

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0; } }

@keyframes zoom {
  0.0% { }
  18.4% {
    transform: scale(1.1); }
  28.5% {
    transform: scale(1.2); }
  46.1% {
    transform: scale(1.3); }
  9.5% {
    transform: scale(1.4); } }

.rh:hover {
  animation: zoom 8s ease 0s infinite normal none; }

.perfumes:hover {
  animation: zoom 8s ease 0s infinite normal none; }

.femeni:hover {
  animation: zoom 8s ease 0s infinite normal none; }

.masculi:hover {
  animation: zoom 8s ease 0s infinite normal none; }

.cremas:hover {
  animation: zoom 8s ease 0s infinite normal none; }

.cabello:hover {
  animation: zoom 8s ease 0s infinite normal none; }

.galeria_productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "rh perfumes perfumes cremas" "rh femeni masculi cremas" "rh cabello cabello cabello";
  gap: 0.5rem;
  justify-content: center;
  align-items: stretch; }

.rh {
  grid-area: rh; }

.perfumes {
  grid-area: perfumes;
  max-width: 705px; }

.cremas {
  grid-area: cremas;
  max-width: 270px; }

.femeni {
  grid-area: femeni; }

.masculi {
  grid-area: masculi; }

.cabello {
  grid-area: cabello;
  max-width: 965px; }

.galeria_productos_responsive {
  display: none; }

/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
  .galeria_productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "rh perfumes perfumes cremas" "rh femeni masculi cremas" "rh cabello cabello cabello";
    gap: 0.5rem;
    justify-content: center;
    align-items: stretch;
    overflow: hidden; }
  .rh {
    grid-area: rh; }
  .perfumes {
    grid-area: perfumes;
    max-width: 705px; }
  .cremas {
    grid-area: cremas;
    max-width: 270px; }
  .femeni {
    grid-area: femeni; }
  .masculi {
    grid-area: masculi; }
  .cabello {
    grid-area: cabello;
    max-width: 965px; }
  .galeria_productos_responsive {
    display: none; } }

/*Fin 1200px*/
@media screen and (max-width: 1024px) {
  .galeria_productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "rh perfumes perfumes cremas" "rh femeni masculi cremas" "rh cabello cabello cabello";
    gap: 0.5rem;
    justify-content: center;
    align-items: stretch;
    overflow: hidden; }
  .rh {
    grid-area: rh; }
  .perfumes {
    grid-area: perfumes;
    max-width: 710px; }
  .cremas {
    grid-area: cremas;
    max-width: 270px; }
  .femeni {
    grid-area: femeni; }
  .masculi {
    grid-area: masculi; }
  .cabello {
    grid-area: cabello;
    max-width: 965px; }
  .galeria_productos_responsive {
    display: none; } }

/*Fin 1024px*/
@media screen and (max-width: 768px) {
  .galeria_productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "rh perfumes perfumes cremas" "rh femeni masculi cremas" "rh cabello cabello cabello";
    gap: 0.5rem;
    justify-content: center;
    align-items: stretch;
    overflow: hidden; }
  .rh {
    grid-area: rh; }
  .perfumes {
    grid-area: perfumes;
    max-width: 710px; }
  .cremas {
    grid-area: cremas;
    max-width: 270px; }
  .femeni {
    grid-area: femeni; }
  .masculi {
    grid-area: masculi; }
  .cabello {
    grid-area: cabello;
    max-width: 965px; }
  .header_responsive {
    display: none; }
  .galeria_productos_responsive {
    display: none; } }

/*Fin 768px*/
@media screen and (max-width: 600px) {
  .galeria_productos {
    display: none; }
  .galeria_productos_responsive {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "rh perfumes" "femeni masculi" "cremas cabello";
    gap: 0.5rem;
    justify-content: center;
    align-items: center; }
  .rh {
    grid-area: rh; }
  .perfumes {
    grid-area: perfumes;
    max-width: 710px; }
  .cremas {
    grid-area: cremas;
    max-width: 270px; }
  .femeni {
    grid-area: femeni; }
  .masculi {
    grid-area: masculi; }
  .cabello {
    grid-area: cabello;
    max-width: 965px; } }

@media screen and (max-width: 320px) {
  .galeria_productos {
    display: none; }
  .galeria_productos_responsive {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "rh" "perfumes" "cremas" "femeni" "masculi" "cabello";
    gap: 0.5rem;
    justify-content: center;
    align-items: stretch; }
  .rh {
    grid-area: rh; }
  .perfumes {
    grid-area: perfumes;
    max-width: 710px; }
  .cremas {
    grid-area: cremas;
    max-width: 270px; }
  .femeni {
    grid-area: femeni; }
  .masculi {
    grid-area: masculi; }
  .cabello {
    grid-area: cabello;
    max-width: 965px; } }

.lista {
  font-family: "Barlow Condensed", sans-serif; }
