/*Helpers*/

@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;

}


.container {
    max-width: 1080px;
    margin: 0 auto;
}