/*Variables*/

    $principal: #ffeddf;
    $secondary: #52004f;
    $font-prima: "Barlow Condensed", sans-serif;
    $font-secondary: "Redressed", sans-serif;
    $text-lg: 2em;
    $text-md: 1.8em;

$sizes:(
    jumbo: 6.8em,
    display: 3.2em,
    title: 4.3em,
    text: 3em,
    caption: 2em,
    mini: 1.5em
);

@each $var, $val in $sizes {
    .s-#{$var} {
        font-size: #{$val}
    }
}

$paddings: (
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    xsmall: 1rem
);

@each $var, $val in $paddings {
    .p-#{$var} {
        padding: #{$val}
    }
}