.container nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 12px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /*Centra los hijos del contenedor flex de manera vertical.*/
    justify-content: space-between;
    background-color: #ebebeb;
    padding-block: 15px;
    border-radius: 9px;
    font-family: $font-prima;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navlogo {
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label {
    display: none;
    /*Ocultará la checkbox en pantallas más grandes.*/
}

.logo {
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    padding-bottom: 2%;

}

.menu .menu__item {
    border: 2px solid #ebebeb;
    transition: all .3s ease-in-out;

    &:hover {
        border-color: $secondary;
        border-radius: 10px;
    }

}

.menu .menu__item .menu__link {
    font-size: $text-md;
    padding: 1rem;
}

.navbar .menu .menu__item:hover .sub-menu {
    display: block;
}

.navbar .menu__item .sub-menu {
    display: none;
    position: absolute;
}

.navbar .menu .menu__item:hover .sub-menu {
    display: block;
}

.menu__item .sub-menu .sub-menu__link {
    padding: 1rem;
    font-size: 1.8em;
    transition: all .3s ease-in-out;
    background-color: #ebebeb;
    border-style: ridge;
    border-color: #52004f1c;
    border-radius: 10px;
}

.menu__item .sub-menu .sub-menu__link:hover {
    background-color: $secondary;
    color: $principal;
    border-radius: 10px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }
}